<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="ProductPriceCustomerModel" >
    <select id="getCustomerPriceCount1" resultClass="java.lang.Integer">
        select sum(t.count) from (
        <isNotEmpty property="customerPriceModelList">
            <iterate property="customerPriceModelList" removeFirstPrepend="true" prepend="UNION ALL">
                UNION ALL (select count(FID) count from t_product_price_customer where FDBID=#dbid# and FPRODUCTID =
                #customerPriceModelList[].productId# and FCUSTOMERID = #customerPriceModelList[].customerId#)
            </iterate>
            )t
        </isNotEmpty>
    </select>

    <insert id="savelist" parameterClass="java.util.HashMap">
        insert into mine_test.test(name,age)
        values
        <iterate property="users" conjunction=",">
            (#users[].name#,#users[].age#)
        </iterate>
        ON DUPLICATE KEY UPDATE
        age=if((values(age)='-2147483648') || (values(age)='-2147483648.0')
        || (values(age)='-2147483648.00') || (values(age)='-2147483648.000')
        || (values(age)='-2147483648.0000')
        ,values(age),age),
        name=values(name)
    </insert>

    <update id="update">
        update mine_test.test set name='hey'
        <isGreaterEqual property="age1" compareValue="0">
            ,age=#age1#
        </isGreaterEqual>
        where name='hey'
    </update>

</sqlMap>